@font-face {
    font-family: inter-regular;
    src: url(/_next/static/media/Inter-Regular.8903bea00c8685f80a9bd69396345866.otf) format("otf"), url(/_next/static/media/Inter-Regular.77478209a2aad8b54b830ed0a57a2929.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: inter-bold;
    src: url(/_next/static/media/Inter-Bold.5abfc0f9b96674363b5a1089b1605a7f.otf) format("otf"), url(/_next/static/media/Inter-Bold.7ba1603596409c48e8e76ab2e40af04b.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

body.fixed {
    overflow: hidden
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: inter-regular;
    color: #171f31;
    scroll-behavior: smooth;
    overflow-x: hidden
}

body .index {
    max-width: 1440px
}

body .cover {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative
}

body .cover .header.down {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px)
}

body .cover .header.up {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

body .cover .header {
    position: fixed;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    height: 80px;
    margin-top: 48px;
    z-index: 2;
    right: 10px;
    left: 10px;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    padding: 0 100px
}

body .cover .header .nav-header {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #171f31
}

body .cover .header .content_header {
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(200, 201, 202, .25);
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 45px
}

body .cover .header .content_header,
body .cover .header .content_header .logo {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center
}

body .cover .header .content_header .logo {
    width: 193px;
    height: 60px;
    -webkit-justify-content: center;
    justify-content: center
}

body .cover .header .content_header .logo img {
    width: 100%;
    height: 100%
}

body .cover .header .content_header .menu_icon {
    display: none
}

body .cover .header .content_header .content_menu {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center
}

body .cover .header .content_header .content_menu a {
    color: #171f31;
    text-decoration: none;
    margin-left: 60px;
    font-size: 16px;
    cursor: pointer
}

body .cover .header .content_header .content_menu a:focus {
    color: #077bee;
    border: none;
    text-decoration: underline
}

body .cover .header .content_header .content_menu a:hover {
    color: #077bee
}

body .cover .header .content_header .content_menu a:first-child {
    margin-left: 0
}

@media screen and (max-width:880px)and (min-width:720px) {
    body .cover .header {
        padding: 0 40px
    }

    body .cover .header .content_header {
        padding: 0 32px
    }
}

@media screen and (max-width:719px) {
    body .cover .header {
        margin: 0;
        padding: 0;
        height: 60px;
        right: 0;
        left: 0
    }

    body .cover .header .nav-header {
        position: absolute;
        display: inline-block;
        z-index: 1;
        overflow: hidden;
        position: fixed;
        right: -100%;
        -webkit-transition: right .3s ease-out;
        transition: right .3s ease-out
    }

    body .cover .header .nav-header .content_nav .logo_close {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        padding: 24px
    }

    body .cover .header .nav-header .content_nav .logo_close .close,
    body .cover .header .nav-header .content_nav .logo_close .close svg {
        width: 28px;
        height: 28px
    }

    body .cover .header .nav-header .content_nav .logo_close .close svg path {
        fill: #fff
    }

    body .cover .header .nav-header .content_nav .options {
        padding: 56px 0 0 56px;
        color: #fff;
        font-size: 28px;
        line-height: 34px;
        text-align: left;
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-around;
        justify-content: space-around
    }

    body .cover .header .nav-header .content_nav .options a {
        width: 100%;
        margin-bottom: 52px
    }

    body .cover .header .nav-header .content_nav .options a:active {
        color: #077bee;
        text-decoration: underline
    }

    body .cover .header .nav-header.visible {
        right: 0
    }

    body .cover .header .content_header {
        box-shadow: none;
        border-radius: 0;
        padding: 0 24px
    }

    body .cover .header .content_header .menu_icon {
        display: inline-block
    }

    body .cover .header .content_header .content_menu {
        display: none
    }

    body .cover .header .content_header .logo {
        width: 137px;
        height: 50px
    }
}

body .cover .text_animation-appear {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px)
}

body .cover .text_animation-appear.text_animation-appear-active {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}

body .cover .text_animation_2-appear {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
}

body .cover .text_animation_2-appear.text_animation_2-appear-active {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

body .cover .text_animation_form-appear {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
}

body .cover .text_animation_form-appear.text_animation_form-appear-active {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

body .cover .content_cover {
    max-width: 1440px
}

body .cover .content_cover .c-cover-son {
    padding-top: 200px;
    max-width: 700px;
    padding-left: 240px
}

body .cover .content_cover .c-cover-son .c-s-text h1 {
    font-size: 56px;
    font-family: inter-bold;
    line-height: 64px
}

body .cover .content_cover .c-cover-son .c-s-text p {
    font-size: 16px;
    line-height: 28px
}

body .cover .content_cover .c-cover-son .c-s-form {
    margin-top: 48px;
    display: flex;
    display: -webkit-flex;
    position: relative
}

body .cover .content_cover .c-cover-son .c-s-form button {
    margin-top: 28px;
    cursor: pointer
}

body .cover .content_cover .c-cover-son .correct_message {
    font-size: 14px;
    line-height: 22px;
    width: 79%;
    text-align: right
}

@media screen and (max-width:1300px)and (min-width:874px) {
    body .cover .content_cover .c-cover-son {
        padding-left: 150px
    }

    body .cover .content_cover .c-cover-son .correct_message {
        font-size: 14px;
        line-height: 22px;
        width: 79%;
        text-align: right
    }
}

@media screen and (max-width:873px)and (min-width:719px) {
    body .cover .content_cover .c-cover-son {
        padding-top: 230px;
        padding-left: 88px
    }

    body .cover .content_cover .c-cover-son .c-s-text {
        max-width: 400px
    }

    body .cover .content_cover .c-cover-son .c-s-text h1 {
        font-size: 32px;
        line-height: 50px
    }

    body .cover .content_cover .c-cover-son .c-s-form {
        max-width: 600px
    }

    body .cover .content_cover .c-cover-son .correct_message {
        font-size: 14px;
        line-height: 22px;
        width: 81%;
        text-align: right
    }
}

@media screen and (max-width:719px) {
    body .cover .content_cover .c-cover-son {
        padding-left: 24px;
        padding-top: 130px
    }

    body .cover .content_cover .c-cover-son .c-s-text {
        max-width: 80%
    }

    body .cover .content_cover .c-cover-son .c-s-text h1 {
        font-size: 24px;
        line-height: 34px
    }

    body .cover .content_cover .c-cover-son .c-s-text p {
        font-size: 14px;
        line-height: 22px
    }

    body .cover .content_cover .c-cover-son .c-s-form {
        max-width: 90%;
        margin-top: 48px;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-bottom: 20px
    }

    body .cover .content_cover .c-cover-son .c-s-form button {
        margin-top: 18px
    }

    body .cover .content_cover .c-cover-son .c-s-form .input {
        width: 100%
    }

    body .cover .content_cover .c-cover-son .correct_message {
        font-size: 14px;
        line-height: 22px;
        width: 88%
    }
}

body .cover #background_css3 {
    top: 0;
    background-color: #fff;
    z-index: -10000
}

body .why_us {
    height: 971px;
    width: 100vw;
    background-color: #fff;
    position: relative
}

body .why_us .people {
    display: -webkit-flex;
    display: flex;
    position: relative;
    width: 420px;
    height: 190px;
    margin-bottom: 50px
}

body .why_us .people .shape#small {
    margin-right: 11px;
    width: 87px;
    height: 87px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

body .why_us .people .shape#small.visible {
    -webkit-transform: scale(1);
    transform: scale(1)
}

body .why_us .people .shape#middle {
    width: 117px;
    height: 117px;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

body .why_us .people .shape#middle.visible {
    -webkit-transform: scale(1);
    transform: scale(1)
}

body .why_us .people .shape#big {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

body .why_us .people .shape#big.visible {
    -webkit-transform: scale(1);
    transform: scale(1)
}

body .why_us .people .p-content#small {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

body .why_us .people .p-content#small.visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

body .why_us .people .p-content#big {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

body .why_us .people .p-content#big.visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

body .why_us .people .p-content#middle {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

body .why_us .people .p-content#middle.visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

body .why_us .people .p-content .p-content-description {
    width: 412px;
    line-height: 28px
}

body .why_us .people .p-content .c-people {
    display: flex;
    display: -webkit-flex;
    margin-top: 20px
}

body .why_us .people .p-content .c-people .p-image,
body .why_us .people .p-content .c-people .p-image img {
    width: 54px;
    height: 54px
}

body .why_us .people .p-content .c-people .p-description {
    width: 100%;
    margin-left: 12px
}

body .why_us .people .p-content .c-people .p-description .p-d-name-role {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 4px
}

body .why_us .people .p-content .c-people .p-description .p-d-name-role p {
    margin: 0 0 0 12px;
    color: #949494;
    font-size: 14px
}

body .why_us .people .p-content .c-people .p-description .p-d-name-role p:first-child {
    color: #171f31;
    margin-left: 0
}

body .why_us .content_why_us,
body .why_us .people .p-content .c-people .p-description .p-d-image {
    display: flex;
    display: -webkit-flex
}

body .why_us .content_why_us {
    position: absolute;
    z-index: 1;
    width: 100%;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-top: 84px
}

body .why_us .content_why_us h2 {
    text-align: center;
    font-size: 48px;
    line-height: 54px;
    font-family: inter-bold;
    width: 583px;
    opacity: 0;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in
}

body .why_us .content_why_us h2.visible {
    opacity: 1
}

body .why_us .content_why_us .c-w-people {
    max-width: 1440px;
    margin-top: 94px;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

body .why_us .content_why_us .c-w-people .people {
    width: 540px;
    margin-top: 30px
}

body .why_us .content_why_us .c-w-people .people .p-content {
    position: absolute;
    right: 0
}

body .why_us .content_why_us .c-w-people .people:first-child {
    width: 470px;
    margin-right: 180px;
    margin-top: 0
}

body .why_us .content_why_us .c-w-people .people:first-child .p-content {
    position: static
}

body .why_us .content_why_us .c-w-people .people:last-child {
    width: 420px;
    margin-top: 50px
}

body .why_us .content_why_us .c-w-people .people:last-child .p-content {
    position: static
}

body .why_us .why_us_background {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 auto
}

body .why_us .why_us_background .b-rect1 {
    position: absolute;
    background-color: #f7f6f6;
    width: 200%;
    height: 609px;
    opacity: .8;
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg)
}

body .why_us .why_us_background .b-rect2 {
    position: absolute;
    background-color: #f7f6f6;
    width: 200%;
    height: 674px;
    opacity: .5;
    -webkit-transform: rotate(146deg);
    transform: rotate(146deg)
}

@media screen and (max-width:768px) {
    body .why_us .why_us_background {
        background: #f7f6f6
    }

    body .why_us .why_us_background .b-rect1,
    body .why_us .why_us_background .b-rect2 {
        display: none
    }
}

@media screen and (max-width:1199px)and (min-width:768px) {
    body .why_us {
        height: 880px
    }

    body .why_us .content_why_us h2 {
        font-size: 34px;
        line-height: 34px
    }

    body .why_us .content_why_us .c-w-people {
        display: block;
        margin-top: 43px;
        width: 100%
    }

    body .why_us .content_why_us .c-w-people .people {
        margin-bottom: 44px;
        height: auto;
        width: 100%
    }

    body .why_us .content_why_us .c-w-people .people .p-content {
        position: absolute;
        right: 0
    }

    body .why_us .content_why_us .c-w-people .people .p-content .p-content-description {
        padding-right: 44px;
        width: 412px
    }

    body .why_us .content_why_us .c-w-people .people:first-child {
        margin-right: 0;
        padding-left: 44px
    }

    body .why_us .content_why_us .c-w-people .people:last-child {
        margin-top: 200px;
        padding-left: 44px
    }

    body .why_us .content_why_us .c-w-people .people .shape {
        display: none
    }
}

@media screen and (max-width:767px)and (min-width:320px) {
    body .why_us {
        height: 880px
    }

    body .why_us .content_why_us {
        padding-top: 40px
    }

    body .why_us .content_why_us h2 {
        width: 297px;
        font-size: 24px;
        line-height: 34px
    }

    body .why_us .content_why_us .c-w-people {
        display: block;
        padding: 0 24px;
        margin-top: 26px
    }

    body .why_us .content_why_us .c-w-people .people {
        width: 100%;
        margin-bottom: 44px;
        height: auto
    }

    body .why_us .content_why_us .c-w-people .people .p-content {
        position: static
    }

    body .why_us .content_why_us .c-w-people .people .p-content .p-content-description {
        width: 100%
    }

    body .why_us .content_why_us .c-w-people .people:first-child {
        width: 100%;
        margin-right: 0
    }

    body .why_us .content_why_us .c-w-people .people:last-child {
        width: 100%
    }

    body .why_us .content_why_us .c-w-people .people .shape {
        display: none
    }
}

body .pricing {
    background-color: #077bee;
    position: relative
}

body .pricing .card .recommend {
    background: #171f31;
    border-radius: 8px 8px 0 0;
    color: #fff;
    height: 38px;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: inter-regular;
    font-size: 16px;
    line-height: 28px
}

body .pricing .card .card-content {
    background-color: #fff;
    text-align: center;
    padding: 24px 0
}

body .pricing .card .card-content .c-text p {
    margin: 0;
    font-family: inter-bold;
    font-size: 24px;
    line-height: 34px
}

body .pricing .card .card-content .c-text span {
    font-size: 16px;
    line-height: 28px;
    margin-top: 4px
}

body .pricing .card .card-content .c-description {
    margin: 20px 0;
    padding: 0 56px
}

body .pricing .card .card-content .c-description span {
    font-size: 14px;
    line-height: 22px;
    color: #949494
}

body .pricing .card .card-content button {
    margin: 0 auto
}

body .pricing .card .card-content.recommended {
    box-shadow: 0 4px 30px hsla(0, 0%, 65.1%, .25)
}

body .pricing .card.recommendedIndex {
    z-index: 1
}

body .pricing .list {
    padding: 24px 24px 0
}

body .pricing .list .list-content p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 0 0 16px
}

body .pricing .list .list-content .checks {
    text-align: center;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    -webkit-justify-content: space-around;
    justify-content: space-around
}

body .pricing .list .list-content .checks .checkState {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

body .pricing .list .list-content .checks .checkState svg {
    margin: 0 auto
}

body .pricing .list .list-content .checks .checkState span {
    font-family: inter-bold;
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px
}

body .pricing .list hr {
    margin: 24px auto 0;
    border: 1px solid #f7f6f6;
    width: 100%
}

@media screen and (max-width:1200px)and (min-width:700px) {
    body .pricing .list {
        padding: 26px 40px 0
    }

    body .pricing .list .list-content {
        display: flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        align-items: center
    }

    body .pricing .list .list-content p {
        font-size: 16px;
        line-height: 28px;
        text-align: start;
        width: 80%;
        margin-right: 60px
    }

    body .pricing .list .list-content .checks span {
        display: none
    }
}

@media screen and (min-width:1201px) {
    body .pricing .list {
        padding: 26px 100px 0
    }

    body .pricing .list .list-content {
        display: flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        align-items: center
    }

    body .pricing .list .list-content p {
        font-size: 16px;
        line-height: 28px;
        text-align: start;
        width: 40%;
        margin-right: 60px
    }

    body .pricing .list .list-content .checks span {
        display: none
    }
}

body .pricing .bg {
    display: none;
    position: absolute;
    left: -130px;
    z-index: 0
}

body .pricing .bg svg {
    width: 100%;
    height: 100%
}

body .pricing .pricing-content {
    padding: 24px;
    text-align: center;
    z-index: 1
}

body .pricing .pricing-content .text-content {
    margin-bottom: 24px
}

body .pricing .pricing-content .text-content p {
    font-family: inter-bold;
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    margin: 0 0 6px
}

body .pricing .pricing-content .text-content span {
    color: #fff;
    font-size: 14px;
    line-height: 22px
}

body .pricing .pricing-content .list-pricing .card {
    margin-bottom: 16px
}

body .pricing .list-features {
    background-color: #fff;
    width: 100vw
}

body .pricing .list-features .buttons_pricing,
body .pricing .list-features .title_pricing {
    display: none
}

body .pricing .list-features .list-features-content {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 24px
}

@media screen and (max-width:1200px)and (min-width:700px) {
    body .pricing .pricing-content {
        padding: 24px 40px
    }

    body .pricing .pricing-content .text-content p {
        font-size: 32px;
        line-height: 44px
    }

    body .pricing .pricing-content .text-content span {
        font-size: 16px;
        line-height: 28px
    }

    body .pricing .pricing-content .list-pricing {
        display: flex;
        display: -webkit-flex;
        -webkit-align-items: flex-end;
        align-items: flex-end
    }

    body .pricing .pricing-content .list-pricing .card .card-content .c-description {
        padding: 10px 19px
    }

    body .pricing .list-features .title_pricing {
        padding: 26px 40px 0;
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-around;
        justify-content: space-around
    }

    body .pricing .list-features .title_pricing span {
        font-size: 24px;
        line-height: 34px;
        font-family: inter-bold
    }

    body .pricing .list-features .title_pricing:first-child {
        margin-left: 41%
    }
}

@media screen and (max-width:1600px)and (min-width:1201px) {
    body .pricing {
        width: 100vw
    }

    body .pricing .bg {
        display: inline-block;
        width: 450px;
        height: 450px;
        top: 100px
    }

    body .pricing .pricing-content {
        max-width: 1440px;
        margin: 0 auto;
        padding: 80px 0 0;
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-around;
        justify-content: space-around
    }

    body .pricing .pricing-content .text-content {
        position: absolute;
        left: 8%;
        text-align: start
    }

    body .pricing .pricing-content .text-content p {
        font-size: 56px;
        line-height: 64px
    }

    body .pricing .pricing-content .text-content span {
        font-size: 16px;
        line-height: 28px
    }

    body .pricing .pricing-content .list-pricing {
        max-width: 60%;
        display: flex;
        margin-left: 29%;
        display: -webkit-flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        margin-top: 100px
    }

    body .pricing .pricing-content .list-pricing .card {
        margin-bottom: 0
    }

    body .pricing .pricing-content .list-pricing .card .card-content {
        padding: 60px 0
    }

    body .pricing .pricing-content .list-pricing .card .card-content .c-text p {
        font-size: 32px;
        line-height: 44px
    }

    body .pricing .pricing-content .list-pricing .card .card-content .c-description {
        padding: 10px 46px
    }

    body .pricing .list-features .buttons_pricing {
        display: inline-block;
        width: 100%
    }

    body .pricing .list-features .buttons_pricing .buttons-content {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        padding: 26px 100px 0;
        max-width: 1440px;
        margin-bottom: 40px
    }

    body .pricing .list-features .buttons_pricing .buttons-content .b-p-button {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 154px;
        text-align: center
    }

    body .pricing .list-features .buttons_pricing .buttons-content .b-p-button button {
        width: 100%
    }

    body .pricing .list-features .buttons_pricing .buttons-content .b-p-button span {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 20px
    }

    body .pricing .list-features .buttons_pricing .buttons-content .b-p-button:first-child {
        margin-left: 32%
    }
}

@media screen and (min-width:1601px) {
    body .pricing {
        width: 100vw
    }

    body .pricing .bg {
        display: inline-block;
        width: 450px;
        height: 450px;
        top: 100px
    }

    body .pricing .pricing-content {
        max-width: 1440px;
        margin: 0 auto;
        padding: 80px 0 0;
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-around;
        justify-content: space-around
    }

    body .pricing .pricing-content .text-content {
        position: absolute;
        left: 13%;
        text-align: start
    }

    body .pricing .pricing-content .text-content p {
        font-size: 56px;
        line-height: 64px
    }

    body .pricing .pricing-content .text-content span {
        font-size: 16px;
        line-height: 28px
    }

    body .pricing .pricing-content .list-pricing {
        max-width: 60%;
        display: flex;
        margin-left: 29%;
        display: -webkit-flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        margin-top: 100px
    }

    body .pricing .pricing-content .list-pricing .card {
        margin-bottom: 0
    }

    body .pricing .pricing-content .list-pricing .card .card-content {
        padding: 60px 0
    }

    body .pricing .pricing-content .list-pricing .card .card-content .c-text p {
        font-size: 32px;
        line-height: 44px
    }

    body .pricing .pricing-content .list-pricing .card .card-content .c-description {
        padding: 10px 46px
    }

    body .pricing .list-features .buttons_pricing {
        display: inline-block;
        width: 100%
    }

    body .pricing .list-features .buttons_pricing .buttons-content {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        padding: 26px 160px 0 0;
        max-width: 1440px;
        margin: 0 auto 40px
    }

    body .pricing .list-features .buttons_pricing .buttons-content .b-p-button {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 154px;
        text-align: center
    }

    body .pricing .list-features .buttons_pricing .buttons-content .b-p-button button {
        width: 100%
    }

    body .pricing .list-features .buttons_pricing .buttons-content .b-p-button span {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 20px
    }

    body .pricing .list-features .buttons_pricing .buttons-content .b-p-button:first-child {
        margin-left: 40%
    }
}

body .about {
    background: #f0f7fe;
    width: 100vw
}

body .about .about-content {
    padding: 32px 24px;
    margin: 0 auto
}

body .about .about-content .about-text h2 {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in
}

body .about .about-content .about-text h2.visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

body .about .about-content .about-text p {
    font-size: 14px;
    line-height: 22px;
    margin: 16px 0 24px;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in
}

body .about .about-content .about-text p.visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

body .about .about-content .about-image {
    width: 100%;
    height: 100%;
    overflow: hidden
}

body .about .about-content .about-image img {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    opacity: 0;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    width: 100%;
    height: 100%
}

body .about .about-content .about-image.visible img {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}

@media screen and (max-width:800px)and (min-width:500px) {
    body .about .about-content {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        padding: 32px 40px;
        height: 379px
    }

    body .about .about-content .about-text {
        max-width: 253px
    }

    body .about .about-content .about-text h2 {
        font-size: 32px;
        line-height: 44px
    }

    body .about .about-content .about-text p {
        font-size: 16px;
        line-height: 28px
    }

    body .about .about-content .about-image {
        max-width: 314px;
        max-height: 326px
    }
}

@media screen and (min-width:801px) {
    body .about .about-content {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-items: center;
        align-items: center;
        height: 714px;
        padding: 32px 40px;
        max-width: 1440px
    }

    body .about .about-content .about-text {
        max-width: 405px
    }

    body .about .about-content .about-text h2 {
        font-size: 56px;
        line-height: 64px
    }

    body .about .about-content .about-text p {
        font-size: 16px;
        line-height: 28px
    }

    body .about .about-content .about-image {
        max-width: 498px;
        max-height: 518px
    }
}

body .price {
    background: #fff;
    width: 100vw
}

body .price .price-content {
    height: 472px;
    margin: 0 auto;
    position: relative;
    padding: 32px 24px
}

body .price .price-content .price-text h2 {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in
}

body .price .price-content .price-text h2.visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

body .price .price-content .price-text p {
    font-size: 14px;
    line-height: 22px;
    margin: 16px 0 24px;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in
}

body .price .price-content .price-text p.visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

body .price .price-content .price-image {
    position: absolute;
    top: 150px;
    left: 24px;
    overflow: hidden
}

body .price .price-content .price-image img {
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
    opacity: 0;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    width: 100%;
    height: 100%
}

body .price .price-content .price-image.visible img {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}

@media screen and (max-width:800px)and (min-width:500px) {
    body .price .price-content {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        padding: 32px 40px;
        height: 379px
    }

    body .price .price-content .price-text {
        max-width: 253px;
        margin-left: 30px
    }

    body .price .price-content .price-text h2 {
        font-size: 32px;
        line-height: 44px
    }

    body .price .price-content .price-text p {
        font-size: 16px;
        line-height: 28px
    }

    body .price .price-content .price-image {
        position: static;
        max-width: 332px;
        max-height: 248px
    }
}

@media screen and (min-width:801px) {
    body .price .price-content {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-items: center;
        align-items: center;
        height: 714px;
        padding: 32px 40px;
        max-width: 1440px
    }

    body .price .price-content .price-text {
        max-width: 405px
    }

    body .price .price-content .price-text h2 {
        font-size: 56px;
        line-height: 64px
    }

    body .price .price-content .price-text p {
        font-size: 16px;
        line-height: 28px
    }

    body .price .price-content .price-image {
        position: static;
        max-width: 580px;
        max-height: 427px
    }
}

body .footer {
    width: 100vw;
    height: 850px;
    background-color: #171f31;
    overflow: hidden;
    position: relative
}

body .footer .footer-content {
    padding: 34px 24px
}

body .footer .footer-content h2 {
    color: #fff;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 34px
}

body .footer .footer-content .footer-form {
    margin-bottom: 20px
}

body .footer .footer-content .footer-form .input {
    width: 100%;
    margin-bottom: 24px
}

body .footer .footer-content .footer-form .input label {
    color: #fff
}

body .footer .footer-content .footer-footer {
    margin-top: 30px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center
}

body .footer .footer-content .footer-footer .f-f-text span {
    color: #fff;
    font-size: 16px;
    line-height: 28px
}

body .footer .footer-content .footer-footer .f-f-text .f-f-image {
    width: 250px;
    height: 78px;
    margin-bottom: 15px
}

body .footer .footer-content .footer-footer .f-f-text .f-f-image svg {
    width: 100%;
    height: 100%
}

body .footer .footer-content .correct_message {
    color: #fff;
    height: 30px;
    font-size: 14px;
    line-height: 22px;
    width: 80%
}

body .footer .footer-image-decoration {
    position: absolute;
    width: 102px;
    bottom: 0;
    right: -8%;
    opacity: 0;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in
}

body .footer .footer-image-decoration.visible {
    bottom: 20%;
    opacity: 1
}

@media screen and (max-width:1200px)and (min-width:700px) {
    body .footer {
        height: 800px
    }

    body .footer .footer-content {
        padding: 34px 40px
    }

    body .footer .footer-content h2 {
        font-size: 32px;
        line-height: 44px
    }

    body .footer .footer-content .footer-form {
        max-width: 60%
    }

    body .footer .footer-content .footer-footer {
        margin-top: 30px;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        text-align: start
    }

    body .footer .footer-content .footer-footer .f-f-text span {
        padding-bottom: 30px
    }

    body .footer .footer-image-decoration {
        width: 244px;
        right: 5%;
        bottom: -20%
    }

    body .footer .footer-image-decoration.visible {
        bottom: -5%
    }
}

@media screen and (max-width:1820px)and (min-width:1201px) {
    body .footer {
        height: 610px
    }

    body .footer .footer-content {
        padding: 50px 277px 50px 140px;
        margin: 0 auto;
        max-width: 1023px
    }

    body .footer .footer-content h2 {
        font-size: 32px;
        line-height: 44px;
        width: 522px
    }

    body .footer .footer-content .footer-form {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        margin-bottom: 0
    }

    body .footer .footer-content .footer-form .input {
        width: 270px;
        margin-right: 10px
    }

    body .footer .footer-content .footer-form button {
        margin-top: 28px
    }

    body .footer .footer-content .footer-footer {
        margin-top: 120px;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        text-align: start
    }

    body .footer .footer-content .footer-footer .f-f-text {
        display: flex;
        display: -webkit-flex
    }

    body .footer .footer-content .footer-footer .f-f-text span {
        padding-bottom: 30px;
        margin-top: 46px;
        margin-left: 30px
    }

    body .footer .footer-content .correct_message {
        text-align: right;
        width: auto
    }

    body .footer .footer-image-decoration {
        width: 283px;
        right: 10vw;
        bottom: -20%
    }

    body .footer .footer-image-decoration.visible {
        bottom: -10%
    }
}

@media screen and (min-width:1821px) {
    body .footer {
        height: 610px
    }

    body .footer .footer-content {
        padding: 50px 140px;
        margin: 0 auto;
        max-width: 1440px
    }

    body .footer .footer-content h2 {
        font-size: 32px;
        line-height: 44px;
        width: 522px
    }

    body .footer .footer-content .footer-form {
        width: 100%;
        display: flex;
        margin-bottom: 0;
        display: -webkit-flex
    }

    body .footer .footer-content .footer-form .input {
        width: 270px;
        margin-right: 10px
    }

    body .footer .footer-content .footer-form button {
        margin-top: 28px
    }

    body .footer .footer-content .footer-footer {
        margin-top: 120px;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        text-align: start
    }

    body .footer .footer-content .footer-footer .f-f-text {
        display: flex;
        display: -webkit-flex
    }

    body .footer .footer-content .footer-footer .f-f-text span {
        padding-bottom: 30px;
        margin-top: 50px;
        margin-left: 30px
    }

    body .footer .footer-content .correct_message {
        text-align: right;
        width: auto;
        padding-right: 420px
    }

    body .footer .footer-image-decoration {
        width: 283px;
        right: 18vw;
        bottom: -20%
    }

    body .footer .footer-image-decoration.visible {
        bottom: -10%
    }
}

body .input {
    width: 370px;
    height: 104px
}

body .input label {
    color: #171f31
}

body .input input {
    width: 100%;
    border-radius: 0;
    height: 54px;
    border: none;
    background: none;
    background-color: #f7f6f6;
    font-family: inter-regular;
    font-size: 16px;
    margin-top: 8px;
    padding-left: 20px;
    outline: 0 none;
    box-sizing: border-box
}

body .input input:focus {
    border: 1px solid #077bee
}

body .input .error {
    border: 1px solid #e01a1a
}

body .input span {
    margin-top: 4px;
    font-size: 14px;
    line-height: 22px;
    color: #e01a1a
}

body h1,
body h2 {
    font-family: inter-bold
}

body button {
    background: #2d62ec;
    color: #fff;
    font-size: 16px;
    width: 182px;
    height: 54px;
    border: none;
    outline: 0 none;
    box-sizing: border-box;
    font-family: inter-regular;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    cursor: pointer
}

@media(hover:hover)and (pointer:fine) {
    body button:hover {
        background: #077bee -webkit-radial-gradient(circle, #077bee 1%, transparent 0) 50%/15000%;
        background: #077bee radial-gradient(circle, #077bee 1%, transparent 0) 50%/15000%
    }
}

body button:active {
    background-color: #2d53ec;
    background-size: 100%;
    -webkit-transition: background .2s ease-out;
    transition: background .2s ease-out
}

body button:disabled {
    background: #f6f8fa;
    color: #949494
}

body button .loader {
    font-size: 10px;
    margin: 0 auto;
    text-indent: -9999em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #fff;
    background: -webkit-linear-gradient(left, #fff 10%, hsla(0, 0%, 100%, 0) 42%);
    background: linear-gradient(90deg, #fff 10%, hsla(0, 0%, 100%, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s linear infinite;
    animation: load3 1.4s linear infinite;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

body button .loader:before {
    width: 50%;
    height: 50%;
    background: #fff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: ""
}

body button .loader:after {
    background: #2d62ec;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

body button.secondary {
    background: none;
    border: 2px solid #077bee;
    color: #077bee
}

body button.secondary:active {
    background: #2d53ec;
    color: #fff
}

@media(hover:hover)and (pointer:fine) {
    body button.secondary:hover {
        background: #077bee;
        color: #fff
    }
}

body button.secondary:disabled {
    background: #f7f6f6;
    border: 2px solid #dcdcdc;
    color: #949494
}

body button.loading {
    pointer-events: none
}

body button.correct {
    background: #15c212;
    pointer-events: none
}

body button.correct .check {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 100%
}

body button.correct .check svg {
    width: 32px;
    height: 32px
}

body button.correct .check svg path {
    fill: #fff
}